<div style="width: 100%; height: 500px;">
  <h2>The words you need to learn</h2>

  <div class="bottom-divider">
    <button class="btn btn-info" (click)="onMoveToLearnedWordsClick()" [disabled]="!hasSelectedUnlearnedGridRows">Move to Learned Words</button>
    <button class="btn btn-danger left-divider" (click)="onDeleteFromUnlearnedWords()" [disabled]="!hasSelectedUnlearnedGridRows">Delete</button>
  </div>

  <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-theme-balham"
      [rowData]="unlearnedWords"
      [columnDefs]="columnDefsUnlearnedWords"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationPageSize]="30"
      rowSelection="multiple"
      [rowMultiSelectWithClick] = true
      (rowSelected)="onGridUnlearnedRowClicked($event)"
  ></ag-grid-angular>

  <h2>The words you have learned</h2>

  <div class="bottom-divider">
    <button class="btn btn-info" (click)="onMoveToUnLearnedWordsClick()" [disabled]="!hasSelectedLearnedGridRows">Move to UnLearned Words</button>
    <button class="btn btn-info left-divider" (click)="onDontAskThisWord()" [disabled]="!hasSelectedLearnedGridRows">Don't Ask This Word</button>
    <button class="btn btn-danger left-divider" (click)="onDeleteFromLearnedWords()" [disabled]="!hasSelectedLearnedGridRows">Delete</button>
  </div>

  <ag-grid-angular
      style="width: 100%; height: 100%;"
      class="ag-theme-balham"
      [rowData]="learnedWords"
      [columnDefs]="columnDefsLearnedWords"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationPageSize]="30"
      rowSelection="multiple"
      [rowMultiSelectWithClick] = true
      (rowSelected)="onGridLearnedRowClicked($event)"
  ></ag-grid-angular>
</div>