<div>
    <h2 mat-dialog-title>Enter New Word</h2>
</div>

<mat-dialog-content [formGroup]="form">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex="100%">
            <mat-form-field appearance="outline" class="form-field">
                <input matInput placeholder="" formControlName="word">
                <mat-label>Word</mat-label>
                <mat-error class="error" *ngIf="errorHandling('word', 'required')">This field is required</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="100%">
            <mat-form-field appearance="outline" class="form-field">
                <input matInput placeholder="" formControlName="meaning">
                <mat-label>Meaning</mat-label>
                <mat-error class="error" *ngIf="errorHandling('meaning', 'required')">This field is required</mat-error>
            </mat-form-field>
        </div>
    </div>

    <mat-dialog-actions align="end">
        <button mat-stroked-button mat-dialog-close type="submit">Close</button>
        <button mat-stroked-button (click)="addNewWord()">Add</button>
    </mat-dialog-actions>

</mat-dialog-content>